<nav class="navbar">
	<ul class="nav">
	
		<li class="nav-item userTitle"><a href="" class="nav-link">Hi {{fan.name}}</a></li>
		<li class="nav-item">
			<a class="nav-link" id="title" href="/auth/logout">Logout</a>
		</li>
	
		
		<li class="nav-item">
			<a class="nav-link" id="title" href="/">Homepage</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="title" href="/profile">ProfilePage</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="title" href="/events">Events</a>
		</li>
	</ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="event-form">
  			<div class="form-group">
  			  <label for="exampleInputEmail1">Event Title</label>
  			  <input class="form-control" id="input_eventName" placeholder="Enter event name">
  			</div>
  			<div class="form-group">
  			  <label for="exampleInputPassword1">Location</label>
  			  <input class="form-control" id="input_eventLocation" placeholder="Location Name">
  			</div>
			<div class="form-group">
  			  <label for="exampleInputPassword1">Description</label>
  			  <input class="form-control" id="input_description" placeholder="description">
  			</div>  
			<div class="form-group">
  			  <label for="exampleInputPassword1">Day and Time</label>
				<div class="row">
				<div class="col">
					<input data-format="dd/MM/yyyy" class="form-control" id="input_date" placeholder="dd/MM/yyyy">
				</div>
				<div class="col">
					<input data-format="hh:mm:ss" class="form-control" id="input_time" placeholder="hh:mm:ss">
				</div>
				</div>
  			</div>
			<div class="form-group">
  			  <label for="exampleInputPassword1">Attendees</label>
			  <select class="custom-select option-menu" id="input_attendees">
			    <option>Jimbo Smith</option>
					<option>Ralph Ralphinson</option>
					<option>Bilbo Baggins</option>
					<option>Jane Doe</option>
			  </select>
  			</div>  
			<div class="modal-footer">
        		<button type="submit" id ="create-event" class="btn btn-primary">Submit</button>
      		</div>
		</form>
      </div>
    </div>
  </div>
</div>

<p style="display:none;" ><span id="city" data-city="{{fan.city}}"><span></span></p>
<div class="teamBanner">
	<div class="row">
	</div>
</div>

<div class="teamSchedule">
	<div class="row">
		<div class="teamRecord col-3" >
			Team Record
		</div>
		<div class="upcomingGames col-9">
			<div class="newEvent">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				  +
				</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<main class="col">
			<h4>Where To Watch The Game</h4>
			<div class="row">
				<div class="col-md-6">
					<div id="map"></div>
				</div>
				<div class="col-md-3" id="venues-container">
					<div class="card module" id="card-venues">
						<div class="card-body">
							<div id="venues"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div class="col-md-2 d-none d-md-block bg-light sidebar">
			<h4>Messages</h4>
			{{#if text}}
				<p>{{text}}</p>
			{{/if}}
			<form id="message">
				<label>Enter Message</label>
				<input type="text" id="input_message">
				<button type="submit" class="btn btn-primary" id="submit-message">Submit</button>
			</form>
		</div>
		<br><br>
		{{!-- Sport Bar Locations --}}
	</div>
	<h5>Team News</h5>
	<div class="row">
		<div class="col-6">
			<div class="card module">
			  <div class="card-body">
			    <h5 class="card-title">Twitter</h5>
			     <div id="twitterMessages"></div>
			  </div>
			</div>
		</div>
		<div class="col-3">
			<div class="card module">
			  <div class="card-body">
			    <h5 class="card-title">NBA News</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
	</div>
	<h5>Events</h5>
	<div class="row">
		{{#each newEvent}}
			<div class="col-3">			
				<div class="card event">
  					<div class="card-body">
  					  <h5 class="card-title">Event: {{title}}</h5>
  					  <p class="card-text">{{description}}</p>
					  <p>When: {{date}}</p>
					  <p>Where: {{location}}</p>
					  <p><span>Who's Going: {{attendees}}</span></p>
  					  <a href="#" class="btn btn-primary">I'm Going</a>
  					</div>
				</div>	
			</div>
		{{/each}}
	</div>
</div>